exportPattern('^[[:alpha:]]+')
import(TeachingDemos)
import(utils)
import(stats)
import(DescTools)
importFrom(mclust, Mclust)
importFrom('grDevices', 'dev.off', 'pdf')
importFrom('graphics', 'abline', 'arrows', 'axis', 'legend', 'mtext',
           'par', 'plot', 'points', 'segments', 'text')